@model GemeenteIndexViewModel
@{ ViewBag.Title = "Gemeentes"; }

<h1>@ViewBag.Title</h1>
<div id="grid">
    @{
        WebGrid wb = new WebGrid(Model.Gemeentes, new string[] { "Omschrijving", "Id" }, rowsPerPage: 30);
        @wb.GetHtml(
            columns:
                wb.Columns(
                    wb.Column(columnName: "Id"),
                    wb.Column(columnName: "Omschrijving"),
                    wb.Column("Bewerk", " ", format: (item) => { return Html.ActionLink("Bewerk", "Bewerk", new { Id = item.Id }, new { }); }),
                    wb.Column("Verwijder", " ", format: (item) => { return Html.ActionLink("Verwijder", "Verwijder", new { Id = item.Id }, new { OnClick = "return(confirm('Verwijderen, zeker weten?'))" }); })
                )
            );
    }
</div> 
<a href="@Url.Action("Index", "Home", new { Area = "Mijn" })" class="IconKnop">
    <div class="fa fa-arrow-left"></div>
    Beheer</a>
<a href="@Url.Action("Maak")" class="IconKnop">
    <div class="fa fa-file"></div>
    Maak nieuwe gemeente</a><br />
<br />
