@model HandleErrorInfo
@{ 
    ViewBag.Title =  string.Format("Server error {0}", Model != null && Model.Exception != null ? Model.Exception.Message : string.Empty); 
}

<h1>@ViewBag.Title</h1>
<p>Er ging iets grondig min bij het oproepen van deze pagina. Het probleem is opgeslagen in een logboek, mocht dit probleem zich vaker voordoen, neem dan contact op met PrekenWeb.</p>