@model HandleErrorInfo
@{ ViewBag.Title = "Unhandled error"; }
 
<h1>@ViewBag.Title</h1> 
<p>Er is een onbekende fout opgetreden. Het probleem is opgeslagen in een logboek, mocht dit probleem zich vaker voordoen, neem dan contact op met PrekenWeb.</p>