<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="Gebruikersmap op www.prekenweb.nl" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="www.prekenweb.nl"/>
            <add input="{REQUEST_URI}" pattern="www\.prekenweb\.nl/Content/Preken/Gebruikers/(.*)" />
          </conditions>
          <action type="Redirect" url="https://bestanden.prekenweb.nl/Gebruikers/{C:1}{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>
