@model SerieEditViewModel
@Html.ValidationSummary(true)
<div class="ColumnM">
    <div class="field">
        <div class="label">@Html.LabelFor(m => m.Serie.Omschrijving)</div>
        <div class="value">@Html.EditorFor(m => m.Serie.Omschrijving)</div>
        <div class="validator">@Html.ValidationMessageFor(m => m.Serie.Omschrijving)</div>
    </div> 
</div>
