@model InboxIndexViewModel
@{ ViewBag.Title = "Inbox"; }

<h1>@ViewBag.Title</h1>
<div id="grid">
    @{
        WebGrid wb = new WebGrid(Model.InboxIitems, new string[] { "Aangemaakt", "InboxType.Omschrijving", "VanNaam", "Omschrijving", "Afgehandeld" }, rowsPerPage: 30);
        @wb.GetHtml(
            columns:
                wb.Columns(
                    wb.Column("Bewerk", "Datum", format: (item) => { return string.Format("{0:dd-MM}", item.Aangemaakt); }),
                    wb.Column(columnName: "InboxType.Omschrijving", header: "Soort"),
                    wb.Column(columnName: "VanNaam", header: "Afzender"),
                    wb.Column("Omschrijving", "Onderwerp", format: (item) =>
                    {
                        return ((string)item.Omschrijving).Length < 30 ? item.Omschrijving : ((string)item.Omschrijving).Substring(0, 30) + "...";
                    }),
                    wb.Column("Omschrijving", "Afgehandeld", format: (item) =>
                    {
                        return (bool)item.Afgehandeld ? "Ja" : "Nee";
                    }),
                    wb.Column("Open", " ", format: (item) => { return Html.ActionLink("Open", "Tonen", "Inbox", new { Id = item.Id }, new { }); })
                )
            );
    }
</div>  
<a href="@Url.Action("Index", "Home", new { Area = "Mijn" })" class="IconKnop">
    <div class="fa fa-arrow-left"></div>
    Beheer</a>
 <br />



