<appSettings>
  <add key="MailChimpAPIKey" value="secret"/>
  <add key="FacebookAppId" value="secret"/>
  <add key="FacebookAppSecret" value="secret"/>
  <add key="TwitterCustomerKey" value="secret"/>
  <add key="TwitterCustomerSecret" value="secret"/>
  <add key="TwitterToken" value="secret"/>
  <add key="TwitterTokenSecret" value="secret"/>
  <add key="AudienceId" value="PrekenWebProductieKey1234567890."/>
  <add key="AudienceSecret" value="PrekenWebProductieKey1234567890123456789012"/>
  <add key="reCaptchaPublicKey" value="secret" />
  <add key="reCaptchaPrivateKey" value="secret" />
</appSettings>