<appSettings>
  <add key="MailChimpAPIKey" value="secret"/>
  <add key="FacebookAppId" value="secret"/>
  <add key="FacebookAppSecret" value="secret"/>
  <add key="TwitterCustomerKey" value="secret"/>
  <add key="TwitterCustomerSecret" value="secret"/>
  <add key="TwitterToken" value="secret"/>
  <add key="TwitterTokenSecret" value="secret"/>
  <add key="AudienceId" value="secret"/>
  <add key="AudienceSecret" value="secret"/>
</appSettings>