<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PrekenwebContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebTest;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=60;Application Name=PrekenWebTest" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah-sqlserver"  connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebTest;integrated security=Tru;Application Name=PrekenWebTestElmah" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="hangfire-sqlserver"  connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebTest;integrated security=True;Application Name=PrekenWebTestHangfire" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation/>
  </system.web>
  <add key="TestEnvironement" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="ApiRootUrl" value="http://api.test.prekenweb.nl/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
</configuration>