<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" xdt:Transform="SetAttributes"  />
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="TestEnvironement" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApiRootUrl" value="https://api.prekenweb.nl/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMTPServer" value="smtp.windonet.nl" />
  </appSettings>
</configuration>