<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PrekenwebContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebProductie;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=60;Application Name=PrekenWebProductie" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="elmah-sqlserver"  connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebProductie;integrated security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" xdt:Transform="SetAttributes"  />
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <add key="TestEnvironement" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
</configuration>