@using Prekenweb.Website.Lib.HtmlHelpers
@model Prekenweb.Website.Areas.Website.Models.TooltipBase<Data.Tables.BoekHoofdstuk>
@{ 
    ViewBag.Title = Model.DataObject.Omschrijving; 
}
<div class="TooltipBody">
    @if (Request.RequestContext.RouteData.Values["culture"].ToString() == "nl")
    {
        <span>@Resources.Boek: @Model.DataObject.Boek.Boeknaam<br />
        </span>
    }

    <br />
    @Html.IconActionLink(Resources.MeerUitDitBoek, "Index", "Zoeken", new { BoekHoofdstukId = Model.DataObject.Id }, new { Class = "Knop" }, "book")<br />
    <br />
    @if (Model.Preek != null)
    { 
        @Html.Partial("PreekLink", Model.Preek)
    }
</div>

