@using Prekenweb.Website.Lib.HtmlHelpers
@model TooltipBase<PrekenWeb.Data.Tables.Serie>
@{ 
    ViewBag.Title = Model.DataObject.Omschrijving; 
}
<div class="TooltipBody">
    <br />
    @Html.IconActionLink(Resources.MeerUitDezeSerie, "Index", "Zoeken", new { SerieId = Model.DataObject.Id }, new { Class = "Knop" }, "list-ol")<br />
    <br />
    @if (Model.Preek != null)
    { 
        @Html.Partial("PreekLink", Model.Preek)
    }
</div>

