@using Prekenweb.Website.Lib.HtmlHelpers
@model Prekenweb.Website.Areas.Website.Models.ZoekenBoek
@{ 
    ViewBag.Title = Resources.ZoekenBoek;
    var boeken = Model.Hoofdstukken.Select(h => h.Boek).Distinct().ToList();
}
<h1>@ViewBag.Title</h1>

@foreach (var boek in boeken.OrderByDescending(b => b.Sortering))
{
    <div class="BoekContainer">
        <h1>@Html.ActionLink(Html.Resource(boek.Boeknaam).ToString(), "Index", new { BoekId = boek.Id, Geavanceerd = true, SorteerVolgorde = "DESC", SorteerOp="Boek" }, new { Class="asd" })</h1>
        <ul>
            @foreach (var hoofdstuk in Model.Hoofdstukken.Where(h => h.BoekId == boek.Id).OrderByDescending(h => h.Sortering))
            {
                <li><a href="@Url.Action("Index", "Zoeken", new { BoekHoofdstukId = hoofdstuk.Id })">
                    <div class="fa fa-arrow-right"></div>@hoofdstuk.Omschrijving</a></li>
            }
        </ul>
    </div>
}

@section scripts{

}