<appSettings>
  <add key="TwitterCustomerKey" value="secret"/>
  <add key="TwitterCustomerSecret" value="secret"/>
  <add key="TwitterToken" value="secret"/>
  <add key="TwitterTokenSecret" value="secret"/>
  <add key="PrekenWeb.Website.AudienceId" value="ThisIdIsDifferentComparedToProdu"/>
  <add key="PrekenWeb.Website.AudienceSecret" value="ThisSecretIsDifferentComparedToProductionnn"/>
</appSettings>