<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PrekenwebContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=PrekenwebTest;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=60;Application Name=PrekenWebTest" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>