<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="bestanden.prekenweb.nl" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="bestanden.prekenweb.nl" negate="true" />
            <add input="{HTTP_HOST}" pattern="www.prekenweb.nl" negate="true" />
            <add input="{HTTP_HOST}" pattern="(.*)\.prekenweb\.nl(.*)" />
          </conditions>
          <action type="Redirect" url="http://bestanden.prekenweb.nl/Gebruikers/{C:1}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
